@font-face {
    font-family: DMSerifDisplay;
    src: url("../fonts/DMSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: Jost;
    src: url("../fonts/Jost-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    color: inherit;
    list-style: none;
}
button, input{
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
h1,h2,h3,h4,h5,h6{
    font-family: DMSerifDisplay;
    color: var(--hTagsColor)
}
p,a,span{
    font-family: Jost;
    color: var(--pTagsColor);
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
:root{
    --mainColor: #CDA274;
    --secondColor: #F4F0EC;
    --hTagsColor: #292F36;
    --pTagsColor: #4D5053;
    --buttonColor: #292F36;
}
.top{
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .3s;
    box-shadow: #000 0px 0px 10px;
}
.top.hidden{
    bottom: -60px;
    right: -60px;
}

/* header  */
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    border-bottom: 1px solid #999;
    transition: .3s;
}
.header.shrink{
    box-shadow: 0 5px 5px #0001;
    /* backdrop-filter: blur(100px); */
}
.header.shrink .navbar{
    height: 55px;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.navbarLogo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.navbarLogo .navbar__logo-text{
    font-size: 38px;
    color: var(--hTagsColor);
}
.navCollaction{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 19px;
    transition: .3s;
}
.navItem a{
    transition: .3s;
}
.navItem a:hover{
    color: var(--mainColor);
}
.navAction{
    color: var(--mainColor);
}


/* hero  */
.hero{
    min-height: 831px;
    width: 100%;
    height: 100%;
    background: url("../images/section1img.png") no-repeat center;
}
.heroWrapper{
    height: 831px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.heroTitle{
    max-width: auto;
    width: 100%;
    font-size: 80px;
    margin-bottom: 19px;
    line-height: 1.1;
    font-weight: 400;
}
.heroDesc{
    max-width: 500px;
    width: 100%;
    font-size: 22px;
    line-height: 1.6;
}
.heroBtn{
    padding: 22px 34px;
    background: var(--buttonColor);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 35px;
    font-size: 18px;
    transition: .3s;
}
.heroBtn:hover{
    background: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.heroBtn:active{
    background: var(--buttonColor);
}


/* view  */
.viewWrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.viewCard{
    max-width: 33.33%;
    width: 100%;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 41px;
    text-align: center;
    border-radius: 50%;
    transition: .5s;
}
.viewCard:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.viewCard__title{
    font-size: 25px;
    font-weight: 400;
}
.viewCard__desc{
    font-size: 22px;
    margin-top: 17px;
}
.viewCard__btn{
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
}
.viewCard__btn span{
    transition: .5s;
}
.viewCard__btn span:hover{
    color: var(--mainColor);
}
.viewCard__btn span:active{
    color: var(--pTagsColor);
}


/* callus */
.callusWrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.callusDesc, .callusImg{
    width: 50%;
}
.callusDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.callusDesc__title{
    max-width: 500px;
    width: 100%;
    font-size: 50px;
    font-weight: 400;
}
.callusDesc__text{
    max-width: 500px;
    margin-top: 42px;
    width: 100%;
    font-size: 22px;
    line-height: 1.6;
}
.callusDesc__call{
    margin-top: 29px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.callusDesc__call img{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50%;
}
.callusDesc__call span{
    font-size: 24px;
}
.callusDesc__btn{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--buttonColor);
    width: 265px;
    height: 71px;
    gap: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .5s;

}
.callusDesc__btn span{
    color: #fff;
    font-size: 18px;
}
.callusDesc__btn:hover{
    background: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.callusDesc__btn:active{
    background: var(--buttonColor);
}
.callusImg img{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0 330px 0 130px;
}


/* aboutus  */
.aboutusWrapper{
    margin-top: 140px;
    border-radius: 70px;
    max-width: 1220px;
    width: 100%;
    min-height: 675px;
    height: 100%;
    background: var(--secondColor);
    padding-top: 103px;
    transition: .3s;
}
.aboutusWrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.aboutusTitle{
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
}
.aboutusCardsWrapper{
    max-width: 1110px;
    width: 100%;
    height: 289px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
}
.aboutusCard{
    max-width: calc(33.33% - 11.33px);
    width: 100%;
    height: 287px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.aboutusCardImg img{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50%;
}
.aboutusCardTitle{
    display: flex;
    align-items: center;
    gap: 20px;
}
.aboutusCard__title h3{
    font-size: 25px;
    font-weight: 400;
}
.aboutusCard__title span{
    font-size: 18px;}
.aboutusCardDesc{
    margin-top: 25px;
}
.aboutusCardDesc p{
    font-size: 20px;
}

/* brands  */
.brandsWrapper{
    margin-top: 139px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;
    gap: 125px;
}
.brandsImgs{
    max-width: calc(20% - 100px);
}

/* services */
.servicesWrapper{
    margin-top: 100px;
    /* min-height: 1865px; */
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.servicesTitle{
    max-width: 331px;
    width: 100%;
    margin-top: 13px;
    font-weight: 400;
    font-size: 47px;
}
.servicesDesc{
    max-width: 786px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
}
.servicesCardWrapper{
    margin-top: 70px;
    max-width: 1220px;
    width: 100%;
    /* min-height: 1632px; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 20px;
}
.servicesCard{
    max-width: calc(50% - 10px);
    width: 100%;
    transition: .5s;
    border-radius: 0 80px 0 0;
}
.servicesCard:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.servicesCardDesc{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
}
.servicesCardDesc__title h3{
    font-weight: 400;
    font-size: 24px;
}
.servicesCardDesc__title span{
    font-size: 22px;
}
.servicesCardDesc__btn{
    transition: .2s;
}
.servicesCardDesc__btn:active{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
}

/* experiance */
.experiance{
    margin-top: 79px;
    background: var(--secondColor);
    height: 100%;
}
.experianceWrapper{
    min-height: 475px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.experianceCard{
    max-width: calc(25% - 21.33px);
}
.experianceCard.cardborder1{
    border-right: 1px solid var(--mainColor);
}
.experianceCard.cardborder2{
    border-right: 1px solid var(--mainColor);
}
.experianceCard.cardborder3{
    border-right: 1px solid var(--mainColor);
}


/* pages  */
.pagesWrapper{
    margin-top: 130px;
    /* min-height: 1343px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagesTitle{
    max-width: 274px;
    width: 100%;
    margin-top: 12px;
    font-weight: 400;
    font-size: 48px;
}
.pagesDesc{
    margin-top: 20px;
    max-width: 589px;
    width: 100%;
    font-size: 22px;
    text-align: center;
}
.pagesCardsWrapper{
    margin-top: 70px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    align-content: start;
    gap: 30px;
}
.pagesCard{
    max-width: calc(33.33% - 45px);
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px 21px 21px;
}
.pagesCardHead{
    position: relative;
}
.pagesImgInItem{
    position: absolute;
    left: 24px;
    bottom: 29px;
    background: #fff;
    padding: 10px 9px;
    border-radius: 10px;
}
.pagesCardDesc{
    margin-top: 14px;
}
.pagesCardDesc h3{
    font-weight: 400;
    font-size: 24px;
}
.pagesCardBtn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagesCardBtn button img{
    transition: .3s;
}
.pagesCardBtn button img:active{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50%;
}

/* contactus  */
.contactusWrapper{
    margin-top: 130px;
    height: 414px;
    background: #292F36;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactusTitle, .contactusDesc{
    color: #fff
}
.contactusTitle{
    max-width: 534px;
    width: 100%;
    font-size: 50px;
    font-weight: 400;
}
.contactusDesc{
    max-width: 371px;
    width: 100%;
    margin-top: 9px;
    font-size: 22px;
}
.contactusBtn{
    margin-top: 52px;
    background: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 34px;
    border-radius: 20px;
    gap: 30px;
    transition: .5s;
}
.contactusBtn:hover{
    background: #aa855d;
}
.contactusBtn span{
    color: #fff;
    font-size: 18px;
}

/* footer  */
.footerWrapper{
    margin-top: 80px;
    padding-bottom: 20px;
}
.footerLinkss{
    display: flex;
    justify-content: space-between;
}
.footerTitle .footerDesc{
    margin-top: 15px;
    max-width: 326px;
    width: 100%;
    font-size: 22px;
}
.footerSocialLogo{
    margin-top: 29px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.footerSocialLogo img{
    cursor: pointer;
}
.footerLinkColm{
    margin-top: 25px;
    font-size: 22px;
}
.footerLinkColm1{
    transition: .3s;
}
.footerLinkColm1:hover{
    color: var(--mainColor)
}
.footerLinkColm1:active{
    color: var(--hTagsColor);
}
.footerThemeLink p{
    margin-top: 0px;
    cursor: default;
    font-size: 25px;
    font-weight: 400;
    font-family: DMSerifDisplay;
    color: var(--hTagsColor);
}








@media (max-width: 990px) {
    /* viewcard  */
    .viewWrapper{
        margin-top: 0px;
    }
    .viewCard{
        height: 350px;
    }
    .viewCard{
        max-width: 50%;
    }

    /* callus  */
    .callusWrapper{
        margin-top: 20px;
    }
    .callusDesc__title{
        font-size: 32px;
    }
    .callusDesc__text{
        max-width: 500px;
        margin-top: 18px;
        font-size: 18px;
        line-height: 1.2;
    }
    .callusDesc__call{
        margin-top: 18px;
    }
    .callusDesc__btn{
        margin-top: 20px;
        width: 265px;
        height: 71px;
        gap: 10px;
        border-radius: 30px;
    }
    .callusDesc__btn span{
        color: #fff;
        font-size: 18px;
    }

    /* about */
    .aboutusWrapper{
        min-height: 900px;
        padding-top: 60px;
    }
    .aboutusCard{
        max-width: calc(50% - 17px);
    }

    /* brands  */
    .brandsImgs{
        max-width: calc(33.33% - 83.33px);
    }

    /* services */
    .servicesCard{
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    /* experiance  */
    .experianceWrapper{
        min-height: 600px;
        height: 100%;
    }
    .experianceCard{
        max-width: calc(50% - 32px);
    }
    .experianceCard.cardborder2{
        border-right: none;
    }

    /* pages  */
    .pagesWrapper{
        margin-top: 70px;
    }
    .pagesCardsWrapper{
        margin-top: 50px;
    }
    .pagesCard{
        max-width: calc(50% - 30px);
    }

    /* constactus  */
    .contactusWrapper{
        margin-top: 70px;
    }

    /* footer  */
    .footerTitle .footerDesc{
        margin-top: 15px;
        max-width: 200px;
        width: 100%;
        font-size: 16px;
    }
    .footerLinkColm{
        margin-top: 25px;
        font-size: 16px;
    }
}


@media (max-width: 700px) {
    /* header  */
    .navCollaction{
        display: none;
    }
    .navbarLogo{
        margin: 0 auto;
    }
    
    /* view  */
    .viewWrapper{
        margin-top: 30px;
    }
    .viewCard{
        height: 300px;
    }

    /* callus  */
    .callusWrapper{
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .callusDesc, .callusImg{
        width: 100%;
    }
    .callusDesc{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* contactus */
    .contactusWrapper{
        text-align: center;
    }

    /* footer  */
    .footerTitle .footerDesc{
        margin-top: 15px;
        max-width: 200px;
        width: 100%;
        font-size: 12px;
    }
    .footerLinkColm{
        margin-top: 25px;
        font-size: 12px;
    }
}


@media (max-width: 500px) {
    /* hero  */
    .heroTitle{
        font-size: 48px;
    }
    .heroDesc{
        font-size: 18px;
    }

    /* viewcard  */
    .viewWrapper{
        margin-top: 0px
    }
    .viewCard{
        max-width: 100%;
    }

    /* callus  */
    .aboutusTitle{
        font-size: 35px;
    }
    .callusWrapper{
        margin-top: 70px;
    }
    /* about  */
    .aboutusWrapper{
        min-height: 1150px;
    }
    .aboutusCard{
        max-width: 90%;
    }

    /* brands  */
    .brandsWrapper{
        margin-top: 70px;
    }
    .brandsImgs{
        max-width: 100%;
    }

    /* serviseces  */
    .servicesCardWrapper{
        display: flex;
        flex-direction: column;
    }
    .servicesCard{
        max-width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    /* experiance  */
    .experianceWrapper{
        min-height: 1000px;
        height: 100%;
    }
    .experianceCard{
        max-width: 100%;
    }
    .experianceCard.cardborder1{
        border-right: none;
    }
    .experianceCard.cardborder2{
        border-right: none;
        border-top: 1px solid var(--mainColor);
    }
    .experianceCard.cardborder3{
        border-right: none;
        border-top: 1px solid var(--mainColor);
    }
    .experianceCard.cardborder4{
        border-top: 1px solid var(--mainColor);
    }

    /* pages  */
    .pagesWrapper{
        margin-top: 70px;
    }
    .pagesCardsWrapper{
        margin-top: 30px;
    }
    .pagesCard{
        max-width: 100%;
    }

    /* contactus */
    .contactusWrapper{
        height: 350px;
        text-align: center;
    }
    .contactusTitle{
        font-size: 32px;
    }
    .contactusDesc{
        font-size: 18px;
    }

    /* footer  */
    .footerWrapper{
        margin-top: 50px;
        height: 100%;
    }
    .footerLinkss{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .footerTitle img{
        display: block;
        margin: 0 auto;
    }
    .footerSocialLogo{
        justify-content: center;
    }
    .footerTitle .footerDesc{
        margin-top: 15px;
        max-width: 326px;
        width: 100%;
        font-size: 22px;
    }
    .footerLinkColm{
        margin-top: 25px;
        font-size: 22px;
        text-align: center;
    }
    .footerThemeLink p{
        margin-top: 0px;
        cursor: default;
        font-size: 25px;
        font-weight: 400;
        font-family: DMSerifDisplay;
        color: var(--hTagsColor);
        text-align: center;
    }
}


@media (max-width: 400px) {
    /* hero  */
    .heroTitle{
        font-size: 40px;
    }
    .heroDesc{
        font-size: 16px;
        line-height: 1.2;
    }

    /* brands  */
    .brandsImgs{
        max-width: 100%;
    }

    /* services  */
    .servicesCardDesc__title h3{
        font-size: 20px;
    }
    .servicesCardDesc__title span{
        font-size: 18px;
    }

    /* contactus */
    .contactusWrapper{
        margin-top: 50px;
        height: 300px;
        text-align: center;
    }
    .contactusTitle{
        font-size: 24px;
    }
    .contactusDesc{
        font-size: 16px;
    }
}